{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main">
  <article class="detail">
    <div class="detail-content">
      {{ if .Params.image }}
        <img class="detail-image" src="{{ .Params.image }}" />
      {{ end }}
      <div class="detail-desc">
        {{ .Description }}
      </div>
      <div class="detail-body">
        {{ .Content }}
      </div>
    </div>
    <footer class="detail-footer">
      {{ if .Params.tags | len | gt 0 }}
      <div class="detail-tags">
        {{ $baseUrl := .Site.BaseURL }}
        {{ range .Params.tags }}
          <a class="detail-tags-link" href="{{ $baseUrl }}/tags/{{ . | urlize }}">#{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
    </footer>
  </article>
</main>

{{ partial "footer.html" . }}

{{ partial "foot.html" . }}
