@font-face {
  font-family: 'RustSans';
  src: url('/type/rustsans-blackshadow.woff') format('woff');
}
body {
  background: green;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.35em;
}
a {
  color: white;
  text-decoration: none;
}

.header,
.main {
  
}

.header {
  margin-bottom: 50px;
}
.title {
  
}
.title-link {
}
.main {
  
}
.list {
  
}

.summ {
  margin: 0 0 40px 0;
}
.summ-content {
  font-size: 28px;
  line-height: 36px;
}
.summ-content-link {
  text-decoration: none;
}
.summ-image {}

.detail {}
.detail-content {}
.detail-desc {
  font-size: 30px;
  line-height: 1em;
}
.detail-image {}
.detail-footer {

}
.detail-tags {

}
.detail-tags-link {}

.footer {
  margin-top: 30px;
}